/* Global Styles */
img {
    display: block;
    margin: 0 auto;
    width: 100%;
}

body {
   background-color: #05C7F2; 
   font-family: "Open Sans", sans-serif;
   font-style: normal;
   font-variation-settings:
    "wdth" 100;
}

#container {
    background-color: #e1f0f3;
    padding: 5%;
    border-radius: 50px; /* Adjust the border radius as needed */

}

h1{
    font-family: "Audiowide", sans-serif;
  font-weight: 500;
  font-style: normal;
  text-shadow: 3px 3px 6px rgba(0,0,0,0.5);
}

h2, h3 {
    text-align: center;
    font-family: "Audiowide", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-shadow: 3px 3px 6px rgba(0,0,0,0.5);
}

a {
    color: #4473a0;
}

a:hover {
    color:#4473a0;
    text-decoration: none;
}

/* Mobile Styles */
nav {
    background-color: #0388A6;
    padding: 5px;
    margin: 100px;
    border-radius: 20px; /* Adjust the border radius as needed */
    font-family: "Audiowide", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-shadow: 3px 3px 6px rgba(0,0,0,0.5);
    
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: block;
}

nav li a {
    display: block;
    height: 40px;
    line-height: 40px;
    color: white;
    background-color: #0378A6;
    text-align: center;
    margin: 5px 0;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    font-family: "Audiowide", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-shadow: 3px 3px 6px rgba(0,0,0,0.5);
}

nav li a:hover {
    background-color: #05C7F2 ;
}

header h1 {
    font-size: 100px;
    color: #07B0F2;
}

main {
    border: 2px solid black;
    padding: 10px;
    margin: 10px 0;
    border-radius: 50px; /* Adjust the border radius as needed */

}

#lower {
    border: 2px solid black;
    padding: 10px;
}

.col {
    border: 2px solid black;
    margin: 10px;
    padding: 10px;
}

footer {
    padding: 40px 0;
    text-align: center;
}

.button {
    display: block;
    margin: 10px auto;
    padding: 10px auto; 
    text-align: center;
    background-color: #0388A6;
    width: 200px;
    height: 50px;
    line-height: 30px;
    text-decoration: none;
    border: 2px solid black ;
    border-radius: 10px;
    font-weight: bold;
    font-family: "Audiowide", sans-serif;
    font-weight: 300;
    font-style: normal;
    text-shadow: 3px 3px 6px rgba(0,0,0,0.5);
    color: white;
    
}

.button:hover {
    color: #0388A6;
}



/* Tablet Styles */

@media (min-width: 786px) {
    nav {
        text-align: center;
    }
   
    nav li {
        display: inline-block;
    }
    
    nav li a {
        width: 200px;
    } 

    main img {
        width: 50%;
    }

    /* #lower {
        width: 75%;
        margin: 0 auto;
    } */

    .col img {
        width: 75%;
    }
    
}

/* Desktop Styles */

@media (min-width: 1024px) {
    #container {
        width: 65%;
        margin: 20px auto;
    }
    
    #lower {
        width: 100%;
        display: flex;
    }

    .col {
        width: 33.33%;
    }
}